@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Philosopher';
    color: #fff;
}

.a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

button {
    background-color: unset;
    border: none;
    outline: none;
    cursor: pointer;
    &:active{
        transform: translateY(1px);
    }
}

input {
    outline: none;
    border: none;
}