$Roboto:("Bold", 700),("Medium", 500),("Regular", 400);

@each $name, $weight in $Roboto {
    @font-face {
        font-family: "Roboto";
        font-weight: $weight;
        src: url("../fonts/Roboto-#{$name}.ttf");
    }
}